---
interface Props {
    title: string
    description: string
    content: string
    canonical: `/${string}`
}

const { title, description, content, canonical } = Astro.props
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=5, viewport-fit=cover, user-scalable=yes"
        />
        <meta name="application-name" content={content} />
        <meta
            name="theme-color"
            media="(prefers-color-scheme: dark)"
            content="#1C1917"
        />
        <meta name="author" content="Andrés Rodríguez" />
        <meta name="creator" content="Andrés Rodríguez" />
        <meta name="publisher" content="Andrés Rodríguez" />
        <meta name="robots" content="index, follow, nocache" />
        <meta name="googlebot" content="index, follow" />
        <link rel="author" href="https://www.linkedin.com/in/and-rodr/" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="canonical" href=`https://docs.pdfizado.com${canonical}` />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <title>{`PDFizado | ${title}`}</title>
    </head>
    <body class="p-2 bg-[#1C1917] text-white">
        <slot />
    </body>
</html>
